
body {
    margin: 0;
    font-family: Arial, serif;
}

#main {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
}

#header {
    padding: 35px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 16px;
    color: rgb(245, 218, 11);
    font-weight: bold;

}

#header-container .logo {
    margin-right: 281px;
}

#header-container .menu-item {
    font-size: 16px;
    color: rgb(237, 224, 248);
    text-decoration: none;
    margin-right: 50px;
}

#info-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 0 205px 0;
}

#info-container h1 {
    max-width: 460px;
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin: 0;
}

#main-info-item {
    margin: 80px 0 101px 0;
}

img {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}


#main-info-item span {
    font-size: 16px;
    color: white;
    margin-left: 14px;
}

button {
    border: 2px solid white;
    width: 220px;
    height: 56px;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#description {
    background-color: white;
    padding: 140px 0;
}

#description-container {
    max-width: 1200px;
    margin: 0 auto;
}

#description-container h2 {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    margin: 0;
}

#description-list {
    margin-top: 68px;
}

#description-list .description-items {
    font-size: 16px;
    color: rgb(49, 27, 94);
    margin-top: 15px;

}

#description-list .description-items span {
    margin-left: 16px;
}

#finale {
    background-image: url("../images/bg2.png");
    background-size: cover;
    background-position: center;
}

#finale-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 140px 100px;

}

#finale-content {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    max-width: 996px;
    margin: 0 auto ;
}

#finale-content h2 {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    line-height: 1.571;
    margin-top: 60px;
    margin-bottom: 30px;

}

.text {
    width: 588px;
    font-size: 16px;
    color: rgb(49, 27, 94);
    margin:0 auto 30px auto;
    line-height: 24px;
}


#finale-container button {
    color: #b180e4;
    border-color: #b180e4;
    margin: 10px auto 44px auto;
}

#finale-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0;
}

#finale-footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 46px 0;
}

#finale-footer-container .logo {
    margin-right: 0;
    margin: 46px 0;
}
